@model Citizen
<div class="row g-3">
    <div class="col-md-4">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="Иванов" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Иван" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="MiddleName" class="form-label"></label>
        <input asp-for="MiddleName" class="form-control" placeholder="Петрович" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" placeholder="+7 (900) 000-00-00" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="example@mail.ru" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" placeholder="г. Ставрополь, ул. ..., д. ..." />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
</div>
